<% include head %>
<header>
    <nav id="header" class="navbar navbar-fixed-top" >
        <div id="header-container" class="container navbar-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="brand" class="navbar-brand" href="#">Project</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
                <ul class=" col-sm-4 navbar-form navbar-right">
                  <a class="btn btn-primary" href="/login" role="button">login</a>
                  <a class="btn btn-primary" href="/signup" role="button">Signup</a>
                </ul>
                <!-- <form action="post" class=" col-sm-4 navbar-form navbar-right" role="form">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="email" type="email" class="form-control" name="email" value="" placeholder="Email Address">
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="password" type="password" class="form-control" name="password" value="" placeholder="Password">
                        </div>-->
                        <!-- <button type="submit" class="btn btn-primary">Login</button> -->
                        <!--ul class="nav navbar-nav navbar-right">
                          <li><a href="/signup" class='btn btn-primary' style="height:1.5em text-align: center">Signup</a></li>
                        </ul-->
                        <!-- <a class="btn btn-primary" href="/signup" role="button">Signup</a> -->
                        <!--button type="submit"id='opensignpage' class="btn btn-primary">Signup</button-->
                  <!-- </form> -->
                <!--form class="navbar-form navbar-right" role="search">
                   <div class="form-group">
                       <input type="text" class="form-control" name="username" placeholder="Username">
                   </div>
                   <div class="form-group">
                       <input type="text" class="form-control" name="password" placeholder="Password">
                   </div>
                   <button type="submit" class="btn btn-primary">Login</button>
                   <button type="submit" class="btn btn-primary">Signup</button>
               </form-->
            </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
    </nav><!-- /.navbar -->
  </header>
