<% include head%>
<div class="container">
    <div class="col-md-3"></div>
    <div class="col-md-6">
         <div class="row myborder">
             <h4 style="color: #7EB59E; margin: initial; margin-bottom: 10px;">Sign Up Now</h4><hr>
             <form role='form'  method="post">
               <div class="input-group margin-bottom-20">
                   <span class="input-group-addon"><i class="glyphicon glyphicon-user mycolor"></i></span>
                   <input size="60" maxlength="255" class="form-control" placeholder="User Name" name="username" id="UserRegistration_username" type="text">
               </div>
               <div class="input-group margin-bottom-20">
                   <span class="input-group-addon"><i class="glyphicon glyphicon-envelope mycolor"></i></span>
                   <input size="60" maxlength="255" class="form-control" placeholder="Email" name="email" id="UserRegistration_email" type="email">
               </div>
               <div class="input-group margin-bottom-20">
                   <span class="input-group-addon"><i class="glyphicons glyphicons-user-lock mycolor"></i></span>
                   <input size="60" maxlength="255" class="form-control" placeholder="Password" name="password" id="passfield1" type="password">
               </div>
               <!-- <div class="input-group margin-bottom-20">
                   <span class="input-group-addon"><i class="glyphicon glyphicon-lock mycolor"></i></span>
                   <input size="60" maxlength="255" class="form-control" placeholder="Confirm Password" name="cnfmpassword" id="passfield2" type="password">
               </div>
               <div class="input-group margin-bottom-20">
                <div class="input-group margin-bottom-20">
                <div class="input-group margin-bottom-20">
                   <span class="input-group-addon"><i class="glyphicon glyphicon-home mycolor"></i></span>
                   <input size="60" maxlength="255" class="form-control" placeholder="Address" name="address" id="UserRegistration_address" type="text">
               </div>-->
              <div class="input-group margin-bottom-20">
                   <span class="input-group-addon"><i class="glyphicons glyphicons-pictures my color"></i></span>
                   <input size="60" maxlength="255" class="form-control"  name="avatar" type="file">
               </div>
               <div class="row">
                   <div class="col-md-12">
                       <button value="signup"class="btn-u pull-left" type="submit">Sign Up</button>
                   </div>
               </div>
             </form>

        </div>
        <div class="col-md-2"></div>
    </div>
      </div>
